<form (ngSubmit)="loginAttempt()" [formGroup]="loginAttemptForm">
  <div class="form-group loginContainer">
    <div class="credentialsItem">
      <input type="text" placeholder="Username" formControlName="username" [(ngModel)]="userLogin.email">
      <input type="password" placeholder="Password" formControlName="password" [(ngModel)]="userLogin.password">
      <button [disabled]="loginAttemptForm.invalid">Login</button>
    </div>

    <a routerLink="/register"><button>Don't have an account?</button></a>
  </div>
</form>
